/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
/*body{
    margin-bottom:0px !important;
}
*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


/*CSS*/

.detail * {
    box-sizing: border-box
}

.detail .btnInDelete{
    background-color: #04AA6D;
    color: white;
    padding: 9px 0;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.detail .delete {
    background-color: #04AA6D;
    color: white;
    padding: 9px 0;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

    .detail button:hover {
        opacity: 1;
    }

.detail .cancelbtn, .detail .deletebtn {
    float: left;
    width: 50%;
}

.detail .cancelbtn {
    background-color: #ccc;
    color: black;
}

.detail .deletebtn {
    background-color: #f44336;
    text-align:center;
}

.detail .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #474e5d;
    padding-top: 50px;
}

.detail .modal-content {
    background-color: #fefefe;
    margin: 9% 21% 15% auto;
    border: 1px solid #888;
    width: 41%;
}
.detail .modal .modal-content .container{
    padding: 24px;
}

.detail hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.detail .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

    .detail .close:hover,
    .detail .close:focus {
        color: #f44336;
        cursor: pointer;
    }

.detail .clearfix::after {
    content: "";
    clear: both;
    display: table;
}


.about .content h3 {
    font-weight: 600;
    font-size: 32px;
    color: #2c4964;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

    .about .content ul li {
        padding-bottom: 10px;
        list-style-type:none;
    }

    .about .content ul i {
        font-size: 20px;
        padding-right: 4px;
        color: #5846f9;
    }

.about .content p:last-child {
    margin-bottom: 0;
}

.about .content .read-more {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 50px 10px 28px;
    border-radius: 5px;
    transition: 0.5s;
    color: #fff;
    background: linear-gradient(45deg, #5846f9 0%, #7b27d8 100%);
    position: relative;
}

    .about .content .read-more:hover {
        background: linear-gradient(180deg, #5846f9 0%, #7b27d8 100%);
    }

    .about .content .read-more i {
        font-size: 22px;
        position: absolute;
        right: 20px;
        top: 12px;
    }

